.bg-light {
    background-color: #fff !important;
	border: 1px solid #dee2e6 !important;
}
.navbar-nav {
	margin-right: 40px;
}
.navbar-nav .nav-item {
	padding: 25px;
}

.dropdown.language {
	position: absolute; 
	right: 200px; 
	width: auto;
	top: 35px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 3rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.phone-link {
    border-radius: 5px;
    background-color: #b7aeff;
    color: #420a0a;
    padding: 15px 25px;
}

.phone-link a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

body > div:nth-child(3) > div > div > div.col-sm-8 > div > img {width: 500px;}
body > div:nth-child(2) > div.jumbotron.text-center {background: #fff;}

body > div:nth-child(3) > div > div > div.col-sm-8 > div > img {
    width: 100%;
}	
p {
    padding-top: 1%;
    margin-top: 0;
    margin-bottom: 1rem;
}

.h2, h2 {
    font-size: 2rem;
    padding-bottom: 1%;
}

.h3, h3 {
    padding-top: 2%;
    font-size: 1.75rem;
}
.carousel {
	padding-top: 0;
}

element.style {
    margin-bottom: 0;
}
.text-center {
    text-align: center !important;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
	margin-top: 3%;
    background-color: #ffffff;
    border-radius: .3rem;
}

.footer {
    border-top: 1px solid #3333;
    padding-top: 1%;
    margin-top: 0;
    margin-bottom: 1rem;
}

.mt-3, .my-3 {
    margin-top: 3rem !important;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #679dd3;
}

.table-dark {
    color: #fff;
    background-color: #454a4e;
}

@media (max-width: 999px) {
	.phone-link {
		display: none;
	}
}

@media (max-width: 991px) {
	.dropdown.language {
		right: 100px;
		position: absolute; top: 10px;
	}
}
	
@media (min-width: 576px) {
    .jumbotron {
        padding: 4rem 2rem;
    }
}
	
@media (max-width: 480px) {
	body > nav > div.dropdown.language {
		padding-top: 2.5%;
	}
}

.animacija {
-webkit-animation: cssAnimation 1s 1 ease;
-moz-animation: cssAnimation 1s 1 ease;
-o-animation: cssAnimation 1s 1 ease;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -webkit-transform: rotate(0deg) scale(0.999) skew(0deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -moz-transform: rotate(0deg) scale(0.999) skew(0deg) translate(0px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -o-transform: rotate(0deg) scale(0.999) skew(0deg) translate(0px); }



