
.autor{color:lightgreen;font-size:1.1em;letter-spacing: 0.1em;}
.error {color:orangered;font-size:90%;padding-bottom:2%;}
.error strong{color:red;}
.succ strong{color:#17f118;}
.succ{color:lightgreen;font-size:90%;padding-bottom:2%;}

/* trenutni - navigacija */
.normall a:hover {color:orange;border-top:0.5em solid orange;}
.current a {padding:0.6em;color:#17f118;border-top:0.5em solid #17f118;}
.normall a {padding:0.6em;color:#727272;border-top:0.5em solid #828282;}


.z3d { /* Z~3D text - best for h1 */ 
 font-size: 35px;margin:0;
 text-shadow: 0 5px 2px #313131,
 	0 4px 1px #313131,
 	0 4px 1px #212121,
  	0 5px 2px #212121,
  	0 6px 2px #212121,
   	0 6px 2px rgba(0, 0, 0, .1),
 	0 0 7px rgba(0, 0, 0, .1),
 	0 2px 5px rgba(0, 0, 0, .3),
   	0 4px 6px rgba(0, 0, 0, .2),
  	0 6px 12px rgba(0, 0, 0, .25),
   	0 10px 12px rgba(0, 0, 0, .2),
   	0 20px 24px rgba(0, 0, 0, .15);
}

.podnaslov { /* font-family: 'Economica', sans-serif; * font-family: 'Black Ops One', cursive; * font-family: 'Ribeye Marrow', cursive;* font-family: 'Faster One', cursive; */ 
margin:0;font-size:1.4em;font-family: 'Faster One', cursive;
transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
-webkit-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
-moz-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
-o-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
-ms-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
}
.podnaslov:hover {
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
transform: rotate(-6deg) scale(0.87) skew(1deg) translate(10px);
-webkit-transform: rotate(-6deg) scale(0.87) skew(1deg) translate(10px);
-moz-transform: rotate(-6deg) scale(0.87) skew(1deg) translate(10px);
-o-transform: rotate(-6deg) scale(0.87) skew(1deg) translate(10px);
-ms-transform: rotate(-6deg) scale(0.87) skew(1deg) translate(10px);
}

.h3d { /* font-family: 'Economica', sans-serif; * font-family: 'Black Ops One', cursive; * font-family: 'Ribeye Marrow', cursive;* font-family: 'Faster One', cursive; */ 
margin:0;font-size:1.5em;font-family: 'Faster One', cursive;
transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
-webkit-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
-moz-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
-o-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
-ms-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
}

.h3d:hover {
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
transform: rotate(-6deg) scale(0.87) skew(1deg) translate(10px);
-webkit-transform: rotate(-6deg) scale(0.87) skew(1deg) translate(10px);
-moz-transform: rotate(-6deg) scale(0.87) skew(1deg) translate(10px);
-o-transform: rotate(-6deg) scale(0.87) skew(1deg) translate(10px);
-ms-transform: rotate(-6deg) scale(0.87) skew(1deg) translate(10px);
}

.h3dr { /* font-family: 'Economica', sans-serif; * font-family: 'Black Ops One', cursive; * font-family: 'Ribeye Marrow', cursive;* font-family: 'Faster One', cursive; */ 
margin:0;font-size:1.3em;font-family: 'Glegoo', serif;
transform: rotate(0deg) scale(0.97) skew(1deg) translate(0px);
-webkit-transform: rotate(0deg) scale(0.97) skew(1deg) translate(0px);
-moz-transform: rotate(0deg) scale(0.97) skew(1deg) translate(0px);
-o-transform: rotate(0deg) scale(0.97) skew(1deg) translate(0px);
-ms-transform: rotate(0deg) scale(0.97) skew(1deg) translate(0px);
}

.h3dr:hover {
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
transform: rotate(2deg) scale(1) skew(1deg) translate(10px);
-webkit-transform: rotate(2deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(2deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(2deg) scale(1) skew(1deg) translate(10px);
-ms-transform: rotate(2deg) scale(1) skew(1deg) translate(10px);
}

.h3dreklame { /* font-family: 'Economica', sans-serif; * font-family: 'Black Ops One', cursive; * font-family: 'Ribeye Marrow', cursive;* font-family: 'Faster One', cursive; */ 
margin:0;font-size:1.7em;font-family: 'Faster One', cursive;
transform: rotate(0deg) scale(0.77) skew(1deg) translate(0px);
-webkit-transform: rotate(0deg) scale(0.77) skew(1deg) translate(0px);
-moz-transform: rotate(0deg) scale(0.77) skew(1deg) translate(0px);
-o-transform: rotate(0deg) scale(0.77) skew(1deg) translate(0px);
-ms-transform: rotate(0deg) scale(0.77) skew(1deg) translate(0px);
}
.h3dreklame:hover {
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
transform: rotate(-360deg) scale(1.1) skew(1deg) translate(1px);
-webkit-transform: rotate(-360deg) scale(1.1) skew(1deg) translate(1px);
-moz-transform: rotate(-360deg) scale(1.1) skew(1deg) translate(1px);
-o-transform: rotate(-360deg) scale(1.1) skew(1deg) translate(1px);
-ms-transform: rotate(-360deg) scale(1.1) skew(1deg) translate(1px);
}


.animacija, #anim {
-webkit-animation: cssAnimacijaD 3s 1 ease-out;
-moz-animation: cssAnimacijaD 3s 1 ease-out;
-o-animation: cssAnimacijaD 3s 1 ease-out;
}
@-webkit-keyframes cssAnimacijaD {
from { -webkit-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -webkit-transform: rotate(360deg) scale(0.999) skew(0deg) translate(0px); }
}
@-moz-keyframes cssAnimacijaD {
from { -moz-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -moz-transform: rotate(360deg) scale(0.999) skew(0deg) translate(0px); }
}
@-o-keyframes cssAnimacijaD {
from { -o-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -o-transform: rotate(360deg) scale(0.999) skew(0deg) translate(0px); }
}

#animacija {
-webkit-animation: cssAnimacija 3s 1 ease-out;
-moz-animation: cssAnimacija 3s 1 ease-out;
-o-animation: cssAnimacija 3s 1 ease-out;
}
@-webkit-keyframes cssAnimacija {
from { -webkit-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -webkit-transform: rotate(0deg) scale(0.999) skew(0deg) translate(0px); }
}
@-moz-keyframes cssAnimacija {
from { -moz-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -moz-transform: rotate(0deg) scale(0.999) skew(0deg) translate(0px); }
}
@-o-keyframes cssAnimacija {
from { -o-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -o-transform: rotate(0deg) scale(0.999) skew(0deg) translate(0px); }
}
#animacijab {
-webkit-animation: cssAnimacijaB 2s 1 ease-out;
-moz-animation: cssAnimacija 2s 1 ease-out;
-o-animation: cssAnimacija 2s 1 ease-out;
}
@-webkit-keyframes cssAnimacijaB {
from { -webkit-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -webkit-transform: rotate(360deg) scale(0.999) skew(0deg) translate(0px); }
}
@-moz-keyframes cssAnimacijaB {
from { -moz-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -moz-transform: rotate(360deg) scale(0.999) skew(0deg) translate(0px); }
}
@-o-keyframes cssAnimacijaB {
from { -o-transform: rotate(0deg) scale(0.100) skew(0deg) translate(0px); }
to { -o-transform: rotate(360deg) scale(0.999) skew(0deg) translate(0px); }
}

