* {
        padding: 1%;
        margin: 1%;
        box-sizing: border-box;
    }
body{width: 98%; padding: 1%; float: left; }
.paragraf {
    padding-top: 75px;
}
.featured {width: 98%; padding: 1%;}
.box {
        position: relative;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background:transparent;
        width: 98%;
        height: 2000px;
        border: 2px solid aqua;
        border-radius: 5px;
        box-shadow: inset 0 0 15px 2px aqua, 0 0 15px 2px aqua;
        transition: 0.2s linear;
    }
.box:hover {
        width: 98%;
        height: 2000px;
    }
.box-title {
		padding: 10px;
        position: absolute;
        margin-top: 2px;
        margin-left: 5px;
        font-size: 17px;
    }

    .left {
		text-align: justify;
        float: left;
        padding: 1%;
        width: 98%;
    }	
    .right {
		text-align: justify;
        float: left;
        padding: 1%;
        width: 98%;
    }	
	.social{
        text-align: left;
        margin-bottom: 10px;
        padding-left: 50px;
        width: 94%;
        height: 40px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        color: white;
        box-shadow: 0 0 10px 2px aqua;
        cursor: pointer;
        transition: .2s linear;
    }